<mat-toolbar color="primary">
  <a mat-button
     routerLink="/users"
     routerLinkActive="docs-navbar-header-item-selected"
     class="mdc-button">Users</a>
  <a mat-button
     routerLink="/history"
     routerLinkActive="docs-navbar-header-item-selected"
     class="mdc-button">History</a>

  <div class="flex-spacer"></div>

  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
