html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-spacer {
  flex-grow: 1;
}

mat-card {
   height: 100%;
 }

mat-card-content {
  display: flex;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  padding: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.neg-button {
  background-color: #F5F5F5	!important;
}
