.msg-box {
  margin: 20px 30% 0 30%;
  text-align: center;
  padding: 20px 40px;
  width: 40%;
  border-radius: 13px;
  background-color: #673ab7de;
  color: white;
  font-size: 18px;
  border-width: 5px;
  border-color: #9575cd;
  border-style: solid;
}
