registry=https://sec-nexus-01.srv.sec.safran/nexus/content/groups/npm-all
always-auth=false
sass_binary_site=http://sec-cots.srv.sec.safran/nexus/service/local/repositories/releases/content/com/github/sass/node-sass-binaries
sass_binary_name=node-sass-binaries-v4.11.0-win32-x64-59
strict-ssl=false
